@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap:400,500,600,700,800,900');

.navbar{
    font-family: "Playfair Display", "san-serif";
    font-weight: bold;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1{
    font-family: "Playfair Display", "san-serif";
    font-weight: bold;
    margin-bottom: 50px;
}