@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap:400,500,600,700,800,900');

/*navbar & jumbotron*/

.navbar{
    font-family: "Playfair Display", "san-serif";
    font-weight: bold;
}

.jumbotron {
    margin:0;
    border:0;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.jumbotron h1{
    font-family: "Playfair Display", "san-serif";
    font-weight: bold;
    font-size: 5em;
    margin-top:50px;
    margin-bottom: 50px;
    color: #fafafa;
}

.button-trial{
    font-family: "Playfair Display", "san-serif";
    width: 300px;
    height: 70px;
    font-weight: bold;
    font-size: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-image{
    height: 60vh;
    background: url('/assets/images/book.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-aboutme{
    height: 30vh;
    background: url('/assets/images/book.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-contact{
    height: 30vh;
    background: url('/assets/images/book.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-courses{
    height: 30vh;
    background: url('/assets/images/book.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hover*/
.nav-item a:hover{
    color:darkgray!important;
}
.navbar a:hover{
    color: darkgrey!important;
}
.sm-links li a i:hover{
    color: darkgray!important;
}
/*reasons to learn*/

.container-reasons{
    font-family: "Playfair Display", "san-serif";
    margin: 20px 0 0 0;
    padding: 20px 20px 0 20px;
}
.question{
    padding: 20px;
}
.reason-button{
    margin-right: 20px;
}


/*about me-timeline*/

.aboutme{
      font-family: "Playfair Display", "san-serif";
      margin:40px 20px 0px 40px;
}
.aboutme-items {
    margin-bottom: 10px;
}
/*about me-timeline*/

.aboutme-heading {
    margin-bottom: 20px;
    margin-top: 20px;
}

.timeline-item{
    padding: 5em 2em 0em 2em;
    position: relative;
    border-left: 2px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.timeline-item h4{
    text-align: center;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 1em;
    top: 3em;
    display: block;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 14px;
    height: 14px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -8px;
    border-radius: 14px;
    content: '';
    background:orange;
}

.timeline-item-work{
    padding: 5em 2em 0em 2em;
    position: relative;
    border-right: 2px solid;
}

.timeline-item-work h4{
    text-align: center;
}

.timeline-item-work p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.timeline-item-work:before {
    content: attr(data-dates);
    position: absolute;
    right: 1em;
    top: 3em;
    display: block;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.timeline-item-work:after {
    width: 14px;
    height: 14px;
    display: block;
    top: 2.4em;
    position: absolute;
    right: -8px;
    border-radius: 14px;
    content: '';
    background:orange;
}
/*aboutme image*/
.img-fluid {
    width: 500px;
    height: 500px;
    border-radius: 500px;
}


/*carousel*/
.carousel-section{
    padding: 50px;

}

/*Footer*/

.footer{
    padding: 10px;
    margin: 0;
}
.sm-text{
    font-family: "Playfair Display", "san-serif";
    padding-bottom: 10px;
    padding-inline-start: 0;
}

.sm-links li a i{
    color: #15161B;
}


/*courses page*/

.courses-types{
    font-family: "Playfair Display", "san-serif";
    margin: 20px 0 0 0;
    padding: 20px 20px 0 20px;
}

.types-heading{
    padding:20px;
    margin:0:
}

.alert-dark{
    background-color: #343a40;
    color: #fafafa;
}









/*contact page*/

.contact-me{
    padding: 20px;
}

.contact-form{
    font-family: "Playfair Display", "san-serif";
    align-items: center;
    justify-content: center;
}

.input-box{
    font-size: 20px;
}


